{% load static %}

<html>
<head>
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/lato" type="text/css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="myprofbg.css" type="text/css" rel = "stylesheet">
</head>
</head>
<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <img id="fototas" src="https://lh3.googleusercontent.com/B2os4OTjaYXMymV2boXpr6AvgPqAcSa9dB1NThwAwji-aDBPBdOV7VNSaLYXFs7AoZHD2YKs1atm65L7Wy0dDFz4qKggI_dJ6jOCYHzSaYnrtsGNDuLqoM5k8E7p2WZechclmOM9l5VFHPPuuLnEBAJYUNVrFBL-WZKOOb5IvFUaGZGFhuewSXTE4-ko6_sJxNKrAvIIChmj6Ec9C-jN7spfoAkkbcgqQPAHHEu4K43iPL7blOZnquhIiHY4IPKzjJqDgcUAyAa0wf6sbZ88oeACk7Y1NSxXqsgTTESHwxeiKMwqlwmn6hMQSh8bQHpflykvZU7_tZbJ5boeG5ouK3rnIHZjA-Jr1BMwki4xIaM2aZwYq5vND6BgEk3RzgL_0I0s3MrVDYysAEKzwxyxu52xgH_67HVwqsgX79bIOjuxk8RqWnGpAviJLclYMEEMH-SK_dhbabwH66FOC3LXRJ21WWk4jMPKMBzkkxr4xhi8SH8EYkzWt5cPjp9xHFZ6kY57VBktcqLZZy9rDq2x6kyRZGyQlRJz1uVzIgsC5koZ_yc81oyUI5CEflvsvQLb5UADSMAf6mi87TFnd1K-E0wcjZpeFKq7oYJi17JOq7-7rCFgEFx4oSCXaW2Q1rs=w640-h438-no" class="img-rounded" alt="Cinque Terre" width="100%">  
        </div>
        <div class="col-md-6">
            <h1>Jastip Tas Ori</h1>
            <h2>Jasa titip tas original terpercaya</h2>
            <h3>Open order by request</h3>
            <h3>PO Singapore 30 Sept - 3 Okt 2018</h3>
            <h3>Shipment 7 Okt 2018</h3>
            <h3>Oder via LINE only: fazazabira</h3>           
        </div>
    </div>

    <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <a href="jastip.html" target="_blank"><button type="button" class="btn btn-danger">HOME</button alt="Download" class="img download"></a>       
                <a href="jastipabout.html" target="_blank"><button type="button" class="btn btn-warning">ABOUT</button alt="Download" class="img download"></a>       
                <a href="jastiphto.html" target="_blank"><button type="button" class="btn btn-success">HOW TO ORDER</button alt="Download" class="img download"></a>       
                <a href="jastippict.html" target="_blank"><button type="button" class="btn btn-info">PICTURE</button alt="Download" class="img download"></a>       
                    
            </div>
            <div class="col-md-5">
                
            </div>
    </div>

    <div class="row">
            <div class="col-md-1"></div>
            <div class="background col-md-6">
                
                <h3>Kami hanya menerima order via LINE: fazazabira</h3>
                <h3>Untuk periode ini, kami menyediakan PO barang - barang dari Singapore.</h3>    
                <h3>Periode ini akan mulai dari tanggal 30 September 2018 - 3 Oktober 2018</h3>    
                <h3>lalu akan mulai dikirim pada tanggal 7 Oktober.</h3>    
                        
                
                
                 
                
            </div>
            <div class="col-md-5">
                
            </div>
    </div>

</body>

</html>


