<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <a href="https://ibb.co/htDHhz"><img class="center" src="https://preview.ibb.co/gjnchz/MG_1837.jpg" alt="MG_1837" border="0"></a>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
</body>
</html>
